Olá, <%= @employee.nome %> <br>

<p>
  Uma solicitação de redefinição da sua senha foi solicitada na plataforma.
</p>

<p class="warning-box">
  Se você não fez essa solicitação, você pode ignorar este e-mail.
</p>

<p style="text-align: center">
  <%= link_to 'Redefinir minha senha', edit_funcionario_password_url(reset_password_token: @employee.password_reset_token) %>
</p>

<p>
  Se o link acima não funcionou, tente copiar o endereço abaixo e colar na barra de endereços do seu navegador:
</p>

<p class="copy-box">
  <%= edit_funcionario_password_url(reset_password_token: @employee.password_reset_token) %>
</p>
