/*
* Footer
*/
footer {
  display: none;
  @media (min-width: 640px) {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    gap: 0 2rem;
    background-color: #f9fafb;
    padding: 2rem 5rem;
    color: #3b82f6;
  }
}
