<strong>Olá <%= @resource.nome %>,</strong>
<p>Para continuar com o processo de login, por favor, utilize o código de confirmação abaixo:</p>
<br />
<br />
<br />
 <h2>Código OPT: <%= @resource.code %></h2>
<br />
<br />
<p>Esse código é válido por 30 minutos. Se você não solicitou essa verificação, ignore este e-mail.</p>

<p>Caso tenha dúvidas ou precise de ajuda, nossa equipe de suporte está à disposição</p>