<footer class="footer-distributed">
  <div class="footer-left">
    <div id="footer-logo-img">
      <%= image_tag 'logos/siklee_small.png' %>
    </div>

    <p class="footer-links">
    <a href="#" class="link-1">Home</a>
    </p>
    <p class="footer-links">
    <a href="/api-docs" target="_blank" class="link-1">API Docs</a>
    </p>
  </div>

  <div class="footer-center">

    <div class="footer-element">
      <i class="fa fa-phone icon-footer" aria-hidden="false"></i>
      <p>+55 (11) 99994-9304</p>
    </div>

    <div class="footer-element">
      <i class="fa fa-envelope"></i>
      <p><a href="mailto:leonardo@siklee.com">leonardo@siklee.com</a></p>
    </div>
  </div>

  <div class="footer-right">
    <p class="footer-company-about small-text">
    <span class="small-title">A Empresa</span>
    Startup que ajuda as empresas na gestão dos atestados e faltas dos colaboradores(as) no trabalho.
    </p>
    <div class="footer-icons">
    </div>
  </div>
</footer>
