<h2 class="text-center">
  Lei de Proteção Geral dos Dados (LGPD)
</h2>

<ol class="list-decimal text-justify w-2/4 mx-auto space-y-4 my-3">
  <li>
    A SIKLEE PLATAFORMA DE AUXÍLIO A GESTÃO DOS ATESTADOS MÉDICOS (“Siklee”) sediada na cidade de São Paulo, Estado de São Paulo, inscrita no CNPJ nº 42.964.139/0001-03, é uma empresa comprometida em manter seguras, protegidas e confidenciais as informações recebidas por meio de seu website (www.siklee.com ), primando por atender as normas legais em vigor, especialmente a Lei 12.965 de 23 de abril de 2014 que estabeleceu o Marco Legal da Internet e a Lei Geral de Proteção de Dados Pessoais (LGPD), 13.709  em 14 de agosto de 2018.<br>
  </li>

  <li>
    Se você é um(a) Funcionário(a) e utilizará a plataforma da Siklee, pedimos que leia com atenção a presente Política de Privacidade de Informação e Termo de Consentimento Responsável (“Política de Privacidade”), a qual será, automaticamente e independentemente de qualquer outra formalidade, aplicável às informações, aos dados e aos documentos que venham a ser recebidos pela Siklee.<br>
  </li>

  <li>
    Utilizando qualquer um de nossos serviços, por meio deste website, o Funcionário(a) considera aceita e aplicável a presente Política de Privacidade. Caso você não esteja de acordo com os termos de nossa Política de Privacidade pedimos que não nos transmita nenhuma informação. Se o fizer, estará concordando com nossos termos de uso.<br>
  </li>

  <li>
    A Siklee coleta informações do(a) Funcionário(a) tais como dados pessoais e informaçcões dos atestados médicos, odontológicos e pscicológicos recebidos. Os dados pessoais e dos atestados serão armazenados, processados, usados e difundidos pela Siklee das seguintes maneiras, conforme autorizado pela lei aplicável:<br>

    <ol>
      <li>
        Para que informações sobre o afastamento do trabalho sejam fornecidos para as empresas contratantes;
      </li>

      <li>
        Proporcionar o histórico de consultas e procedimentos médicos ao Funcionário(a) e contratante;
      </li>

      <li>
        Para enviar sua informação a empresas e eventualmente ao médico do trabalho;
      </li>

      <li>
        Para permitir que a empresa contratante do Funcionário(a) possa fazer um acompanhamento da frequência.
      </li>
    </ol>
  </li>

  <li>
    A qualquer tempo poderemos solicitar sua permissão para processar, tratar, usar ou revelar informações para qualquer outro propósito não listado acima.<br>
  </li>

  <li>
    Nos reservamos o direito de transferir sua informação a um terceiro no evento de venda, fusão, liquidação ou transferência de todos ou substancialmente todos os ativos da nossa empresa, desde que o terceiro concorde em seguir os termos desta Política de Privacidade e use seus dados pessoais apenas com os propósitos por nós fornecidos. Notificaremos todos os usuários caso ocorra tal transferência, dando a oportunidade de optar se deseja continuar ou não.<br>
  </li>

  <li>
    Os dados e informações coletados ficarão armazenados e arquivados aos cuidados da Siklee adotando padrões razoáveis de segurança da informação através dos seus provedores.<br> 
  </li>

  <li>
    A transmissão de informação via internet não é totalmente segura.<br>
  </li>

  <li>
    A Siklee não se responsabiliza por qualquer decisão  por parte da empresa sobre abonar ou não as horas não trabalhadas.<br>
  </li>

  <li>
    A autencidade dos atestados médicos poderão ser checados através do portal do Conselho Federal de Medicina (CFM)
  </li>
</ol>
