/*
* Cards components
*/
.cards-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  gap: 1rem;
}

.metric-card {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1rem 3rem 1rem;
  background-color: #fff;
  border: 1px solid #6B7280;
  border-radius: 0.5rem;
  height: 200px;
  max-width: 245px;
  min-width: 245px;
  margin: 0 1rem 1rem 0;

  &.small {
    min-width: 180px;
    height: 145px;
    max-width: 180px;
    padding: 0.5rem 1rem 1rem 1rem;
  }
}

.card-details {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.metric-card.small .card-details {
  padding: 0 0.5rem;
}

.card-details .metric {
  font-size: 3rem;
  font-size: 5rem;
  color: #6B7280;
  text-align: center;
}

.card-details .title {
  color: #6B7280;
  font-size: 1rem;
  text-align: center;
  padding: 0 1.5rem;
}

.metric-card.small .card-details .title {
  font-size: 0.75rem;
}

.side-by-side-metrics {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  border-x: 1px solid #6B7280;
}

.side-by-side-metrics > .card-details {
  padding: 0 0.75rem;
  &:first-child {
    padding-left: 0;
    padding-right: 0.75rem;
  }
  &:last-child {
    padding-right: 0;
    padding-left: 0.75rem;
  }
}

.metric-card.multiple .metric {
  font-size: 1rem;
}

.metric-card.multiple .title,
.side-by-side-metrics .title,
.side-by-side-metrics .metric {
  font-size: 0.75rem;
}

.side-by-side-metrics .title {
  padding: 0;
}
