<h3 class="text-lg my-4 flex flex-row gap-x-3 items-center">
  Perfil:

  <span class="tag <%= current_role_for_dashboard %> px-3">
    <%= t(".roles.#{current_role_for_dashboard}") %>
  </span>
</h3>
