.navbar {
  padding: 0.5rem 4rem;
}

@media screen and (max-width: 480px) {
  .navbar {
    padding: 0.5rem 1rem;
  }
}

.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

@media screen and (max-width: 480px) {
.navbar-lewagon .navbar-collapse {
  font-size: 80%;
  justify-content: space-evenly;
  }
}

.navbar-lewagon .navbar-brand img {
  width: 100px;
  justify-content: flex-start;
  align-items: center;
  margin: 0px;
}

@media screen and (max-width: 480px) {
  .navbar-lewagon .navbar-brand img {
    width: 100px;
    justify-content: flex-start;
    align-items: center;
    margin: 0px;
  }
}

.nav-button {
  margin: 0;
  font-size: 1em;
  box-shadow: none;
}

@media screen and (max-width: 480px) {
.nav-button {
  margin-right: 25px;
  font-size: 70%;
  padding: 5px 5px;
  }
}

.small-subtitle {
  margin-top: 10px;
  align-items: center;
  font-family: "Poppins", sans-serif;
  color: #ebebeb;
  font-weight: 100;
  position: absolute;
  left: 5%;
  text-align: left;
  a {
    font-weight: 600;
  }
}

@media screen and (max-width: 480px) {
  .small-subtitle {
  margin-top: 10px;
  align-items: center;
  font-family: "Poppins", sans-serif;
  color: #ebebeb;
  font-weight: 100;
  position: absolute;
  left: 5%;
  text-align: left;
  a {
    font-weight: 600;
  }
  }
}

.nav-item {
  display: flex;
  justify-content: flex-end;
}

@media screen and (max-width: 480px) {
  .nav-item {
  justify-content: center;
  }
}

.nav-elements {
  display: flex;
  align-items: flex-end;
  margin-right: 10px;
}

@media screen and (max-width: 480px) {
  .nav-elements {
  font-size: 70%;
  justify-content:space-between;
  }
}
