<footer>
  <ul class="text-center">
    <li>
      <%= link_to root_path do %>
        <%= image_tag 'logos/siklee_small.png', class: 'mx-auto my-2' %>
      <% end %>
    </li>

    <li>
      <%= link_to 'Documentação API', rswag_ui_path %>
    </li>
  </ul>

  <ul class="flex flex-col text-sm text-slate-700 gap-y-2">

    <li>
      <i class="fa fa-phone icon-footer" aria-hidden="false"></i>
      <p>+55 (11) 99994-9304</p>
    </li>

    <li>
      <i class="fa fa-envelope"></i>
      <p><a href="mailto:leonardo@siklee.com">leonardo@siklee.com</a></p>
    </li>
  </ul>

  <ul class="text-sm flex-none w-60">
    <li class="font-bold text-slate-900 mb-2">
      A Empresa
    </li>

    <li>
      Startup que ajuda as empresas na gestão dos atestados e faltas dos colaboradores(as) no trabalho.
    </li>
  </p>
</footer>
